/* You can add global styles to this file, and also import other style files */
/*
@font-face {
    font-family: 'MyWebFont';
    src: url('webfont.eot');
    src: url('webfont.eot?#iefix') format('embedded-opentype'),
         url('webfont.woff2') format('woff2'),
         url('webfont.woff') format('woff'),
         url('webfont.ttf')  format('truetype'),
         url('webfont.svg#svgFontName') format('svg');
}
*/
@font-face {
    font-family: 'Montserrat';
    src: url('assets/Montserrat/Montserrat-Regular.ttf') format('truetype');
}


